body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/2.6 'Open Sans';
  color: rgb(0, 0, 0);
}

.deniedbox {
  position: relative;
  float: left;
  width: 100%;
  height: 131px;
  margin-top: 33px;
  border: 1px dashed rgb(204, 204, 204);
  border-radius: 10px;
  background-color: rgb(230, 230, 230);
}

.deniedpage {
  float: left;
  width: 100%;
  height: 716px;
}

.home {
  display: block;
  float: left;
  clear: both;
  width: 10.8446298227%;
  height: 32px;
  margin: 21px 0 0 45.1678799999%;
  border-radius: 3px;
  background-color: rgb(156, 156, 156);
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

.home:hover {
  background-color: rgb(133, 133, 133);
}

.text {
  float: left;
  width: 83.7751855779%;
  min-height: 47px;
  margin: 18px 0 0 4.98077%;
  border: 2px solid rgb(255, 0, 0);
  font-size: 1em;
  color: rgb(0, 0, 0);
}